/* Universal Styles */
html {
  font-size: 18px
}

body {
  margin-top: 1rem;
  font-family: "Lato", sans-serif;
  background-color: white;
}

h2 {
  font-size: 1.75rem;
  font-weight: 900;
  color: #494b54;
}

h3 {
  font-weight: 700;
  color: #5f626e;
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  color: gray;
  font-weight: 300;
}

/* Header */
header {
  background-color: white;
  height: 64px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 24px;
}

.logo {
  display: flex;
}

.logo img {
  display: inline-block;
  padding-right: ;
}

.logo span {
  margin-top: 5px;
}

.COLMAR {
  padding-left: .5rem;
  font-weight: 700;
}

.ACADEMY {
  font-weight: 400;
  color: gray;
}
header ul {
  display: flex;
}

header ul li {
  padding-right: 16px;
}

/* Main banner */
.main-banner {
  background-color: #DCDCDC;
}

.main-banner .container {
  display: flex;
  justify-content: space-around;
}

.left-column {
  width: 60%;
  margin: 32px auto 32px 24px;
}

.left-column img {
  width: 100%;
}

.right-column {
  margin:auto;
  width: 30%;
}

.main-banner .container .right-column h1 {
  font-weight: 900;
  color: #494b54;
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.main-banner .container .right-column h3 {
  padding-bottom: 1.5rem;
}

.main-banner .container .right-column .start-button {
  color: white;
  background-color: #494b54;
  text-align: center;
  padding: 16px;
  margin-right: 32px;
}
/* Info */
.info {
  padding: 32px 0 32px 24px;
}

.info .container {
  display: flex;
}

.info .leftinfo-column {
  padding-right: 24px;
  width: 60%
}

.info .leftinfo-column img {
  width: 100%;
  padding-bottom: 32px;
}

.leftinfo-column h2 {
  padding-bottom: 24px;
}

.leftinfo-column p {
  padding-bottom: 24px;
  width: 90%;
}
/* Thesis exhibit */


/* Footer */
